*{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    --bgcolor: #ededed;
}

.container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 100px 6fr 7fr 1fr;
}
.contenedor-menu {
    display: grid;
    grid-template-rows: 150px 1fr 2fr;
    grid-template-columns: auto;
    background-position: top left;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-image: url(../images/sd-min.jpg);
}

.menu-descripcion {
    grid-row: 3/-1;
    padding: 50px;
    padding-top: 120px;
}

h1 {
    margin-top: 20px;
    color: rgb(52, 106, 176);
    font-size: 4em;
}
h4 { 
    display: flex;
    align-items: center;
    font-size: 2em;
}
.btn-registro-menu {
    display: inline-block;
    padding: 10px;
    background: rgb(52, 106, 176);
    color: #fff;
    width: fit-content;
    border-radius: 4px;
    text-decoration: none;
    font-size: 2em;
    margin-top: 20px;
}

header {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    grid-template-rows: auto;
    padding: 20px;
    background-color: var(--bgcolor);
}

.buscador {
    display: grid;
    grid-template-columns: 2fr 1fr;
    padding: 10px;
    max-height: 50px;
}

.buscador button {
    min-width: 50px;
    border-radius: 3px;
    border: 3px solid black;
    margin-left: -4px;
}

.search {
    border: 3px solid black;
    border-radius: 5px;
}

.login{
    padding: 10px;
    grid-column: 3/-1;
    text-align: center;
}

.login button {
    height: 50px;
    width: 50px;
    border: 3px solid black;
    border-radius: 25px;
}

i {
    font-size: 25px;
}

header button { 
    background-color: transparent;
}

input[type="text"] {
    font-size: 20px;
    font-family: Arial, sans-serif;
    background-color: var(--bgcolor);
  }

  @media screen and (max-width: 810px) {
    .contenedor-menu {
        grid-template-rows: 150px 1fr;
    }
  }