* {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
}

html {
  background: rgb(216,219,226);
  background: linear-gradient(90deg, rgba(216,219,226,1) 8%, rgba(244,247,247,1) 49%, rgba(224,217,217,1) 99%);
}

body {
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
  display: grid;
  grid-template-columns: 10px 1fr 10px;
  grid-template-rows: 80px 1fr;
  /* row-gap: 100px; */
  min-width: 360px;
  background-image: url("../images/sd-min.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: left top;
}

header {
  width: 100vw;
  grid-column: 1/-1;
  background-color: white;
}

.header {
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  padding: 10px;
}

.header .user {
  /* border: 3px solid black;
  border-radius: 30px; */
  height: 50px;
  width: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header a {
  grid-column: 1/2;
  margin: 10px 15px;
}

.header div {
  grid-column: 3/-1;
  margin-top: -8px;
  margin-right: -20px;
  display: flex;
  justify-content: center;
}

.header .fa-user {
  font-size: 30px;
}

.contenedor-textbox {
  grid-column: 2/3;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
}

.textbox {
  min-width: 300px;
  grid-column: 3/-1;
  box-shadow: 1px 1px 1px rgb(0, 0, 0, 0.2);
}

p {
  font-size: 12px;
  width: 150px;
  display: inline-block;
  margin-left: 18px;
}
h1 {
  font-size: 32px;
  font-weight: 300;
  color: #4c4c4c;
  text-align: center;
  padding-top: 10px;
  margin-bottom: 10px;
}

html{
  background-color: #ffffff;
}

.textbox {
  margin: 20px auto;
  width: 343px; 
  height: 650px; 
  border-radius: 8px/7px; 
  background-color: #ebebeb; 
  box-shadow: 1px 2px 5px rgba(0,0,0,.31); 
  border: solid 1px #cbc9c9;
}

.tipoDeCuenta {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: light;
  border-bottom: 1px solid #cecaca;
  padding-bottom: 1px;
}

.tipoDeCuenta label {
  padding-top: 2px;
  font-size: 18px;
}

.tipoDeCuenta input {
  display: none;
}

.tipoDeCuenta label:hover {
  cursor: pointer;
  border: 1px solid transparent;
  background-color: rgba(113, 142, 197, 0.19);
  color: #3158cc;
}

.checkP, .checkC {
  display: none;
  margin-right: 5px;
}

.circleP, .circleC {
  color: #3158cc;
  margin-right: 5px;
}

.bC, .bP {
  display: inline-block;
  padding: 3px;
  border-radius: 5px;
  font-size: 18px;
}

.fa-check {
  color: #2d7a3a;
}

input[type=radio]:checked + label {
  box-shadow: 1px 1px 1px rgb(0, 0, 0, 0.19);
}


.gender label {
  padding-top: 2px;
  font-weight: bold;
  margin-bottom: 0;
}

.foot {
  height: 50px;
  margin-top: 15px;
  display: grid;
  grid-template-columns: 1fr 2fr;
}

form{
  margin: 0 30px;
}


hr{
  color: #a9a9a9;
  opacity: 0.3;
}

input[type=text],input[type=password],input[type=email],input[type=tel]{
  width: 200px; 
  height: 39px; 
  border-radius: 0px 4px 4px 0px/5px 5px 4px 4px; 
  background-color: #fff; 
  box-shadow: 1px 2px 5px rgba(0,0,0,.09); 
  border: solid 1px #cbc9c9;
  margin-left: -5px;
  margin-top: 13px; 
  padding-left: 10px;
}

input[type=password]{
  margin-bottom: 25px;
}

#icon{
  display: inline-block;
  width: 30px;
  background-color: #3a57af;
  padding: 8px 0px 8px 15px;
  margin-left: 15px;
  border-radius: 4px 0px 0px 4px;
  color: white;
  box-shadow: 1px 2px 5px rgba(0,0,0,.09); 
  border: solid 0px #cbc9c9;
}

.accounttype{
  margin-left: 8px;
  margin-top: 20px;
}

.boton{
  font-size: 14px;
  font-weight: bold;
  color: white;
  padding: 10px 20px;
  margin: 10px 8px 20px 0px;
  display: inline-block;
  text-decoration: none; 
  border-radius: 5px;
  border: none;
  background-color: #3a57af;  
  box-shadow: 0 3px rgba(58,87,175,.75);
  transition: all 0.1s linear 0s; 
  margin-top: -5px;
}
.boton:hover{
  top: 3px;
  background-color:#2e458b;
  box-shadow: none;
}

a .button {
  font-size: 14px;
  font-weight: bold;
  color: white;
  padding: 10px 20px;
  margin: 10px 8px 20px 0px;
  display: inline-block;
  text-decoration: none; 
  border-radius: 5px; 
  background-color: #3a57af; 
  box-shadow: 0 3px rgba(58,87,175,.75);
  transition: all 0.1s linear 0s; 
  margin-top: -5px;
}

a .button:hover {
  top: 3px;
  background-color:#2e458b;
  box-shadow: none;
  
}

.Registro {
  display: grid;
  grid-template-rows: 1fr 10fr;
  grid-template-columns: 1fr 1fr;
  align-content: center;
}

.registroForm {
  grid-column: 1/-1;
}

.pais {
  width: 210px;
  height: 40px;
  border: 1px solid #f3f3f3;
  box-shadow: 1px 1px 1px rgb(0, 0, 0, 0.19);
  border-radius: 5px;
  margin-left: -5px;
}

.pais_tel{
  width: 50px;
  height: 40px;
  border: 1px solid #f3f3f3;
  box-shadow: 1px 1px 1px rgb(0, 0, 0, 0.19);
  border-radius: 5px;
  margin-left: -5px;
}

#telf {
  margin-left: -5px;
  width: 150px;
}

#icon {
  margin-bottom: 25px;
  margin-right: 0;
}

@media (max-height: 750px) {
  body {
    height: 100%;
  }
}

@media (max-width: 1000px) {
  .contenedor-textbox {
    grid-template-columns: 1fr 1fr;
  }

  .textbox {
    grid-column: 2/-1;
  }
}

@media (max-width: 650px) {
  .contenedor-textbox {
    grid-template-columns: 1fr;
  }

  .textbox {
    grid-column: 1/-1;
  }
}